<p id="notice"><%= notice %></p>

<div class="linksCartItems"> 
	<%= link_to 'Edit', edit_cart_path(@cart) %> |
	<%= link_to 'Continuar comprando', store_index_path %>
</div>
	<div class="card showProductcard">
	  <div class="card-body">
			<h3> Estos son sus productos </h3>
			<table>
				<% @cart.line_items.each do |item| %>
		   		<!-- <hr> -->
		   		<tr>
		   			<%#= image_tag item.product.image, class: "imageShowCart"  %>
			      <td class="quantity"><%=item.quantity %> &times;</td>
			      <td><%= item.product.title %></td>
			      <td colspan="3"></td>
			      <td class='price'><%= number_to_currency(item.total_price) %></td>
		    	</tr>
					<!-- <hr> -->
				<% end %>
				<tfoot class="tfoot">
					<tr>
						<th colspan='5'>Total: </th>
						<td class='price'><%= number_to_currency(@cart.total_price) %></td>
					</tr>
				</tfoot>
			</table>
			<hr>
			<%= button_to 'Empty cart', @cart, method: :delete, data: {confirm: "Areyou sure you want to empty your cart?"} %>
	  </div>
	</div>
<div class="linksCartItems"> 
	<%= link_to 'Edit', edit_cart_path(@cart) %> |
	<%= link_to 'Continuar comprando', store_index_path %>
</div>

