<p id="notice"><%= notice %></p>
<div class="card showProductcard">
  <%= render 'productImage', product: @product  %> 
  <div class="card-body">

    <p >
      <h4 class="box text-center"><%= @product.title.present? ? @product.title : "Sin Nombre" %></h4>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= number_to_currency(@product.price) %>
    </p>

    <p>
      <strong>Available:</strong>
      <%= @product.available %>
    </p>

    <p>
      <strong>Stock quantity:</strong>
      <%= @product.stock_quantity %>
    </p>

    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>

  </div>
</div>

